2017/9XD/slide.pdf filter=lfs diff=lfs merge=lfs -text
2016/ApacheConEU/ filter=lfs diff=lfs merge=lfs -text
2017/ApacheConMiami/ filter=lfs diff=lfs merge=lfs -text
2018/ filter=lfs diff=lfs merge=lfs -text
